<div class="panel panel-primary <%= resource_class_name %>">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= link_to edit_resource_path(resource), style: 'float: right;', title: "Edit", :'data-toggle' => "tooltip" do %>
                <span class="glyphicon glyphicon-edit"></span>
            <% end %>
            <%= resource.name 
            %><% if resource.cas.present? %>,
                <% first_cas = true %>
                <span style="font-weight: normal; font-size: 12px;">CAS
                    <% resource.cas do |cas| %><%= first_cas ? first_cas = nil : ", "
                        %><%= link_to cas, "https://www.google.de/search?q=cas+#{cas}", target: "_blank" 
                    %> <%= link_to 'pubchem', "http://www.ncbi.nlm.nih.gov/pccompound?term=#{cas}", target: "_blank" 
                    %><% end %>
                </span>
            <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <span class="col-sm-2 small-label">
                <%= resource_class.human_attribute_name(:logP) %>,<br/>
                <%= resource_class.human_attribute_name(:symbol) %>,<br/>
                <%= resource_class.human_attribute_name(:importance) %>
            </span>
            <div class="col-sm-9">
                <%= resource.logP || '-' %>,<br/>
                <%= resource.symbol || '-' %>,<br/>
                <%= resource.importance || 0 %>
            </div>
        </div>
        <hr/>
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:price), class: 'col-sm-2 small-label' %>
            <div class="col-sm-6">
                <%= number_with_precision resource.price, precision: 2, strip_insignificant_zeros: false %> EUR / kg
            </div>
        </div>
        <hr/>

        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:composition), class: 'col-sm-2 small-label' %>
            <div class="col-sm-6">
                <% if resource.pure? %>
                    pure
                <% else %>
                    <table class="table">
                        <% resource.solvent_ingredients.each do |sing| %>
                            <tr>
                                <td><%= number_with_precision sing.amount, precision: 5, strip_insignificant_zeros: true %></td>
                                <td><%= number_with_precision sing.percent, precision: 4, strip_insignificant_zeros: true %> %</td>
                                <td><%= link_to sing.ingredient, sing.ingredient %></td>
                                <td><%= sing.ingredient.cas %></td>
                            </tr>
                        <% end %>
                    </table>
                <% end %>
            </div>
        </div>
        <hr/>

        <% unless resource.pure? || resource.ingredients_molecular? %>
            <div class="row">
                <%= content_tag :span, resource_class.human_attribute_name(:molecular_composition), class: 'col-sm-2 small-label' %>
                <div class="col-sm-6">
                    <table class="table">
                        <% resource.molecular_composition.each do |solvent| %>
                            <tr>
                                <td><%= number_with_precision solvent.virtual_proportion * 100, precision: 7, strip_insignificant_zeros: true %> %</td>
                                <td><%= link_to solvent, solvent %></td>
                                <td><%= solvent.cas %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
            <hr/>
        <% end %>
        
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:notes), class: 'col-sm-2 small-label' %>
            <div class="col-sm-6">
                <%= smarted resource.notes %>
            </div>
        </div>
        <hr/>
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:contained_in), class: 'col-sm-2 small-label' %>
            <div class="col-sm-6">
                <% resource.contained_in_solvents.map(&:solvent).uniq.each do |solvent| %>
                    <%= link_to solvent, solvent %>
                <% end %>
            </div>
        </div>
        <hr/>
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:substances), class: 'col-sm-2 small-label' %>
            <div class="col-sm-6">
                <% latest = resource.dilutions.last.substance rescue nil %>
                <% resource.substances.each do |substance| %>
                    <%= link_to substance, substance, style: (" font-weight: bold " if latest == substance) %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>
<p>
    <%= link_to solvents_path, :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-th-list"></span> Index
    <% end %>
</p>
