<%= form_tag prepare_mixing_path, class: 'blends-mixer', remote: true do %>
    <div class="panel panel-primary mixing">

        <div class="panel-heading">
            <h3 class="panel-title">
                Mixing <%= Blend.model_name.human(count: 2) %>
            </h3>
        </div>
        <div class="panel-body buttons-container">
            <h4><%= t :'global.available', count: 2 %> <%= Blend.model_name.human(count: 2) %></h4>
            <div class="available-blends">
                <% Blend.all.each do |record| %>
                    <%= link_to record.to_s, "#", colored(record, class: "btn btn-default btn-sm", :'data-blend-dom-id' => dom_id(record) ) %>
                <% end %>
            </div>
            <hr/>
            <h4><%= t :'global.selected', count: 2 %> <%= Blend.model_name.human(count: 2) %></h4>
            <div class="selected-blends">
                
            </div>
            <%= hidden_field_tag :selected_blend_ids %>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary disabled">
                <span class="glyphicon glyphicon-random"></span> Mix!
            </button>
        </div>
    </div>
<% end %>