<%= render 'form_group_error_messages' %>

<div class="form-group form-group-lg">
    <%= f.label :name, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
        <%= f.text_field :name, :class => "form-control", :style => "font-weight: bold;", autocomplete: "off" %>
    </div>
    <div class="col-sm-3" style="text-align: right;">
        <div class="btn-group">
            <button type="button" data-color-selector="list" class="btn btn-default dropdown-toggle <%= "color-#{resource.character}" if resource.character.present? %>" data-toggle="dropdown">
                <span class="button-title">
                    <span style="font-weight: bold; opacity: 0.7;" class="name"><%= resource.character.to_s.upcase %></span>
                </span><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style="padding:1px 1px 0; left:auto; right:0; ">
                <% substance_character.each do |name, s| %>
                    <li>
                        <!-- ONCLICK -->
                        <%= link_to "#", class: "color-#{name}", style: "border-bottom:1px solid #fff;", :'data-name' => name, :'data-color-selector' => 'list' do %>
                            <span style="font-weight: bold; opacity: 0.7;"><%= name.upcase %></span> <span style="font-size: 11px; opacity: 0.6"><%= s.first %></span>
                        <% end %>
                    </li>
                <% end %>
            </ul>
            <%= f.hidden_field :character, class: 'character'  %>
        </div>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :cas, :class => "col-sm-3 control-label" %>
    <div class="col-sm-3">
        <%= f.text_field :cas, :class => "form-control", autocomplete: "off" %>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :alt_names, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= f.text_field :alt_names, :class => "form-control", autocomplete: "off" %>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :ifra_cat_4_limit, :class => "col-sm-3 control-label" %>
    <div class="col-sm-3">
        <%= f.text_field :ifra_cat_4_limit, list: :ifra_cat_4_limits, placeholder: "unregulated", class: "form-control", autocomplete: "off",
            value: number_with_precision(resource.ifra_cat_4_limit, precision:9, strip_insignificant_zeros: true) %>
        <datalist id="ifra_cat_4_limits">
            <%= options_for_select Substance::IFRA_LIMIT_CONCENTRATIONS.collect{ |s| [ "#{s * 100} %", number_with_precision(s) ] } %>
        </datalist>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :price, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= f.text_field :price_per_quantity, placeholder: :default, class: "form-control", style: "width: 6em; float:left; text-align: right;", autocomplete: "off" %>
        <%= f.select :price_currency, Substance::CURRENCIES.collect { |k,v| [ k, k ] }, {}, class: "form-control", style: "width: 5em; float:left; margin: 0 1em;"  %>
        <div class="input-group">
           <div class="input-group-addon">per</div>
           <%= f.text_field :quantity_in_gram_of_raw_material, placeholder: :default, class: "form-control", style: "text-align: right;", autocomplete: "off" %>
            <div class="input-group-addon">gram of raw material</div>
         </div>
    </div>
</div>
<hr/>

<%= render 'text_area_form_group', f: f, c: :sensory_tags %>
<%= render 'text_area_form_group', f: f, c: :notes, opt: { rows: 5 } %>
<%= render 'text_area_form_group', f: f, c: :notes_alt_1, opt: { rows: 5 } %>
<%= render 'text_area_form_group', f: f, c: :notes_alt_2, opt: { rows: 5 } %>

<div class="dilution-form">
    <%= render "dilution_form", :f => f %>
</div>


<% content_for :panel_header_right do %>
<% end %>

<% content_for :panel_footer do %>
    <div class"form-group">
        <%= f.link_to_add :dilutions, class: "btn btn-default", :data => { :target => ".dilution-form" } do %>
            <span class="glyphicon glyphicon-plus-sign"></span> <%= t :'global.add_dilution' %>
        <% end %>
    </div>
<% end %>

<% content_for :form_submit_controls do %>
    <div class="form-inline">
        <div class"form-group">
            <div class="col-sm-3 col-sm-offset-6 control-label checkbox">
                <%= label_tag :create_new_after, t(:'global.create_new_after') %>
                <%= check_box_tag :create_new_after, 1, params[:create_new_after] %>
            </div>
            <%= f.button class: "btn btn-#{submit_class ||= :success} col-sm-3" do -%>
                <i class="fa fa-floppy-o"></i> <%= submit_label %>
            <% end -%>
        </div>
    </div>
<% end %>
