<%= render 'form_group_error_messages' %>

<div class="form-group form-group-lg">
    <%= f.label :name, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= f.text_field :name, :class => "form-control", :style => "font-weight: bold;" %>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :cas, :class => "col-sm-3 control-label" %>
    <div class="col-sm-3">
        <%= f.text_field :cas, :class => "form-control" %>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :alt_names, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= f.text_field :alt_names, :class => "form-control" %>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :ifra_cat_4_limit, :class => "col-sm-3 control-label" %>
    <div class="col-sm-3">
        <%= f.text_field :ifra_cat_4_limit, list: :ifra_cat_4_limits, placeholder: "unregulated", class: "form-control" %>
        <datalist id="ifra_cat_4_limits">
            <%= options_for_select Substance::IFRA_LIMIT_CONCENTRATIONS.collect { |s| [ "#{s * 100} %", s ] } %>
        </datalist>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :price, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= f.text_field :price_per_quantity, placeholder: "price", class: "form-control", style: "width: 6em; float:left; text-align: right;" %>
        <%= f.select :price_currency, Substance::CURRENCIES.collect { |k,v| [ k, k ] }, {}, class: "form-control", style: "width: 5em; float:left; margin: 0 1em;"  %>
        <div class="input-group">
           <div class="input-group-addon">per</div>
           <%= f.text_field :quantity_in_gram_of_raw_material, placeholder: "raw material", class: "form-control", style: "text-align: right;" %>
            <div class="input-group-addon">gram of raw material</div>
         </div>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :sensory_tags, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= f.text_area :sensory_tags, :class => "form-control" %>
    </div>
</div>
<% [:notes, :notes_alt_1, :notes_alt_2 ].each do |field| %>
    <hr/>
    <div class="form-group">
        <%= f.label field, :class => "col-sm-3 control-label" %>
        <div class="col-sm-9">
            <%= f.text_area field, :class => "form-control", rows: 5 %>
        </div>
    </div>
<% end %>

<div class="dilution-form">
    <%= render "dilution_form", :f => f %>
</div>


<% content_for :panel_header_right do %>
<% end %>

<% content_for :panel_footer do %>
    <div class"form-group">
        <%= f.link_to_add :dilutions, class: "btn btn-default", :data => { :target => ".dilution-form" } do %>
            <span class="glyphicon glyphicon-plus-sign"></span> Add Dilution
        <% end %>
    </div>
<% end %>

<% content_for :form_submit_controls do %>
    <div class="form-inline">
        <div class"form-group">
            <div class="col-sm-3 col-sm-offset-6 control-label checkbox">
                <%= label_tag :create_new_after %>
                <%= check_box_tag :create_new_after, 1, params[:create_new_after] %>
            </div>
            <%= f.submit submit_label, :class => "btn btn-#{submit_class ||= :success} col-sm-3" %>
        </div>
    </div>
<% end %>
