<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th><%= resource_class.human_attribute_name :name %></th>
            <th><%= resource_class.human_attribute_name :cas %></th>
            <th><%= resource_class.human_attribute_name :ifra_cat_4_limit %></th>
            <th><%= resource_class.human_attribute_name :sensory_tags %></th>
            <th class="r"><%= resource_class.human_attribute_name :vp_mmHg_25C %></th>
            <th class="r">price per <br/>100 gram</th>
        </tr>
    </thead>
    <tbody>
        <%= render collection %>
    </tbody>
</table>
