<tr>
    <%= content_tag :td, colored(substance) do %>
        <%= link_to substance.name, substance_path(substance), style: "width: 100%; display:block; color:rgba(0,0,0,0.7);" %>
    <% end %>
    <td>
        <%= substance.cas %>
    </td>
    <td>
        <%= "#{substance.ifra_cat_4_limit * 100}<span class='small-unit'> %</span>".html_safe rescue nil %>
    </td>
    <td>
        <%= substance.sensory_tags %>
    </td>
    <td class="r">
        <%= number_with_precision substance.vp_mmHg_25C, precision:9, strip_insignificant_zeros: true %>
    </td>
    <td class="r">
        <%= number_with_precision substance.price_in_eur_per_100g, precision:0 %>
    </td>
</tr>