<div class="panel panel-primary <%= resource_class_name %>">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= resource_class.count %> <%= resource_class.model_name.human(count: resource_class.count) %>
            <%= link_to new_substance_path, style: "float:right;" do %>
                <span class="glyphicon glyphicon-plus"></span>
            <% end %>
            <%= link_to refresh_elastic_substances_path, style: "float:right; margin-right: 9px;", class: "refresh-elastic", remote: true, method: :put do %>
                <span class="glyphicon glyphicon-refresh"></span>
            <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <div style="margin-bottom:3ex;">
            <%= render 'character_legend' %>
        </div>
        <%= nav_tabs :substances do |tabs| %>
            <% tabs.add "by name", 'list' %>
            <% tabs.add "by price", 'list', collection: collection.sort{|a,b|(a.price_in_currency_per_100g  || 0 ) <=> (b.price_in_currency_per_100g || 0)  } %>
            <% tabs.add "by character", 'list_by_character' %>
            <% tabs.active "compact", 'list_compact' %>
        <% end %>
        <%= render 'character_legend' %>
    </div>
    <div class="panel-footer">
        <%= link_to new_substance_path, :class => "btn btn-success" do %>
            <span class="glyphicon glyphicon-plus"></span> Add 
        <% end %>
    </div>
</div>
