<div class="panel panel-primary <%= resource_class_name %>">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= link_to edit_resource_path(resource), style: 'float: right;', title: "Edit", :'data-toggle' => "tooltip" do %>
                <span class="glyphicon glyphicon-edit"></span>
            <% end %>
            <%= resource.name 
            %><% if resource.cas.present? %>,
                <%= link_to "https://www.google.de/search?q=\"CAS #{resource.cas}\"", target: "_blank" do %>
                    <span style="font-weight: normal; font-size: 12px;">CAS <%= resource.cas %></span>
                <% end %>
            <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:alt_names), class: 'col-sm-2 small-label' %>
            <div class="col-sm-9">
                <%= resource.alt_names %>
            </div>
        </div>
        <hr/>
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:ifra_cat_4_limit), class: 'col-sm-2 small-label' %>
            <div class="col-sm-9">
                <%= "#{resource.ifra_cat_4_limit * 100} %" rescue "unregulated"  %>
            </div>
        </div>
        <hr/>
        <% if resource.price_per_quantity.to_f > 0 && resource.quantity_in_gram_of_raw_material > 0 %>
            <div class="row">
                <%= content_tag :span, resource_class.human_attribute_name(:price), class: 'col-sm-2 small-label' %>
                <div class="col-sm-9">
                    <%= number_with_precision resource.price_per_quantity %> <%= resource.price_currency %> per <%= resource.quantity_in_gram_of_raw_material %> gram <br/>
                    <%= number_with_precision resource.price_in_eur_per_100g %> EUR per 100 gram <br/>
                </div>
            </div>
            <hr/>
        <% end %>
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:sensory_tags), class: 'col-sm-2 small-label' %>
            <div class="col-sm-9">
                <% resource.sensory_tags.split(/\b/).each do |tag| %>
                    <%= link_to tag, search_path(:q => tag) %>
                <% end %>
            </div>
        </div>
        <hr/>
        <% [:notes, :notes_alt_1, :notes_alt_2 ].each do |field| %>
            <% next unless resource.send(field).present? %>
            <div class="row">
                <%= content_tag :span, resource_class.human_attribute_name(field), class: 'col-sm-2 small-label' %>
                <div class="col-sm-9">
                    <%= simple_format resource.send field %>
                </div>
            </div>
            <hr/>
        <% end %>
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:dilutions), class: 'col-sm-2 small-label' %>
            <div class="col-sm-9">
                <%= render resource.dilutions %>
            </div>
        </div>
        <hr/>
        <div class="row">
            <span class="col-sm-2 small-label">
                used in <%= Blend.model_name.human(count: 2) %>
            </span>
            <div class="col-sm-9 buttons-container ">
                <% resource.blends.uniq.each do |blend| %>
                    <%= link_to blend, blend_path(blend), class: "btn btn-primary btn-sm blend" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>
<p>
    <%= link_to substances_path, :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-th-list"></span> Index
    <% end %>
</p>