<%= form_for resource, :html => {:class => 'family-batch-add', :role => "form"} do |f| %>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Add <%= Blend.model_name.human(count: 2) %> to <%= Family.model_name.human(count: 1) %> <%= resource %>
            </h3>
        </div>
        <div class="panel-body buttons-container">
            <h4><%= t :'global.available', count: 2 %> <%= Blend.model_name.human(count: 2) %></h4>
            <div class="available-blends">
                <% Blend.all.each do |record| %>
                    <%= link_to record.to_s, "#", colored(record, class: "btn btn-default btn-sm", :'data-blend-dom-id' => dom_id(record) ) %>
                <% end %>
            </div>
            <hr/>
            <h4><%= t :'global.selected', count: 2 %> <%= Blend.model_name.human(count: 2) %></h4>
            <div class="selected-blends">
                <% resource.blends.each do |record| %>
                    <%= link_to record.to_s, "#", colored(record, class: "btn btn-default btn-sm", :'data-blend-dom-id' => dom_id(record) ) %>
                <% end %>
            </div>
            <%= f.hidden_field :selected_blend_ids, class: resource.selected_blend_ids, id: :selected_blend_ids %>
        </div>
        <div class="panel-footer">
            <%= link_to t(:'global.cancel'), resource, class: 'btn' %>
            <button type="submit" class="btn btn-primary disabled">
                <span class="glyphicon glyphicon-log-in"></span> <%= t :'global.add' %>
            </button>
        </div>
    </div>
<% end %>