<div class="panel panel-primary <%= resource_class_name %>">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= resource_class.count %> <%= resource_class.model_name.human(count: resource_class.count) %>
            <%= link_to new_resource_path, style: "float:right;" do %>
                <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <%= nav_tabs :family_tabs do |tabs| %>
            <%# tabs.add "Detail", 'list' %>
            <% tabs.active "Compact", 'list_short', collection: collection.root %>
            <% tabs.add "All", 'list_short' %>
        <% end %>
    </div>
    <div class="panel-footer">
        <%= link_to new_resource_path, :class => "btn btn-success" do %>
            <span class="glyphicon glyphicon-plus"></span> <%= t :'global.add' %>
        <% end %>
    </div>
</div>
