<tr class="<%= :translucent if blend.hidden? %>">
    <%= content_tag :td, colored(blend) do %>
        <%= blend_link blend, style: "width: 100%; display:block;" %>
    <% end %>
    </td>
    <td>
        <%= blend.creation_at %>
    </td>
    <td>
        <%= blend.sensory_tags %>
    </td>
</tr>