<%= render 'form_group_error_messages' %>

<div class="form-group form-group-lg">
    <%= f.label :name, :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= f.text_field :name, :class => "form-control", :style => "font-weight: bold;", autocomplete: "off" %>
    </div>
</div>
<hr/>
<div class="form-group">
    <%= f.label :creation_at, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
        <%= f.date_select :creation_at, { with_css_classes: true, order: [:day, :month, :year] }, :class => "form-control date" %>
    </div>
    <div class="col-sm-3">
        <%= link_to "COLOR", "#", class: "btn btn-default ", style: "font-weight:900; color:rgba(0,0,0,0.2); width: 100%; background-color:##{f.object.color};", :'data-colorpicker' => "button"  %>
        <%= f.hidden_field :color, :'data-colorpicker' => '' %>
    </div>
    <div data-colorpicker="flat" style="display:none;"></div>
</div>
<hr/>
<%= render 'text_area_form_group', f: f, c: :sensory_tags %>
<%= render 'text_area_form_group', f: f, c: :notes, opt: { rows: 5 } %>

<div class="ingredients-form">
    <%= render "ingredient_form", :f => f %>
</div>

<% content_for :panel_header_right do %>
    <div class="btn-group" style="margin-left: 27px; vertical-align: top;">
      <span type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="glyphicon glyphicon-th-large"></span>
      </span>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" style="color:#333;">
          <li class="dropdown-header">
              <%= f.check_box :hidden %>
              <%= f.label :hidden %>
          </li>
          <li class="dropdown-header">
              <%= f.check_box :locked %>
              <%= f.label :locked %>
          </li>
      </ul>
    </div>
<% end %>

<% content_for :panel_footer do %>
    <div class"form-group">
        <%= f.link_to_add :ingredients, class: "btn btn-default", :data => { :target => ".ingredients-form" } do %>
            <span class="glyphicon glyphicon-plus-sign"></span> Add Substance
        <% end %>
    </div>
<% end %>


<% content_for :form_submit_controls do %>
    <div class="form-inline">
        <div class"form-group">
            <%= f.submit submit_label, :class => "btn btn-#{submit_class ||= :success} col-sm-offset-9 col-sm-3" %>
        </div>
    </div>
<% end %>

<script type="text/javascript">
    window.availableDilutions = <%= raw available_dilutions.to_json %>;
</script>