<table class="table table-striped">
    <thead>
        <tr>
            <td class="r"><%= Blend.human_attribute_name :amount %></td>
            <td><%= Substance.model_name.human %></td>
            <td><%= Dilution.model_name.human %></td>
        </tr>
    </thead>
    <tbody>
        <% resource.ingredients.each do |ing| %>
            <tr>
                <td class="r">
                    <% precision = (5 - Math.log10(ing.amount)).round %>
                    <% precision = 1 if precision < 2 %>
                    <% precision += 1 if precision == 3 %>
                    <% precision = 0 if params[:round] %>
                    <%= number_with_precision ing.amount, precision: precision, strip_insignificant_zeros: (precision > 1) %>
                    <span style="font-size:10px;">mg</span>
                </td>
                <td>
                    <span class="ctag color-<%= ing.substance.character %>"></span>
                    <%= link_to ing.substance, ing.substance %>
                </td>
                <td>
                    <% if ing.dilution %>
                        <%= solvent_link ing.dilution %>
                    <% else %> 
                        Pure
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
    <tfoot>
        <tr>
            <td class="r"><%= number_with_precision resource.total_mass, precision: (resource.total_mass > 1e6 ? 0 : 1), strip_insignificant_zeros: (resource.total_mass > 1e6) %> <span class="small-unit">mg</span></td>
            <td>Total</td>
            <td><%= number_with_precision resource.raw_price %> EUR</td>
        </tr>
    </tfoot>
</table>
