<table class="table table-striped">
    <thead>
        <tr>
            <td class="r"><%= Blend.human_attribute_name :amount %></td>
            <td><%= Substance.model_name.human %></td>
            <td><%= Dilution.model_name.human %></td>
        </tr>
    </thead>
    <tbody>
        <% resource.ingredients.each do |ing| %>
            <tr>
                <td class="r">
                    <%= number_with_precision ing.amount, precision: 2, strip_insignificant_zeros: false %>
                    <span style="font-size:10px;">mg</span>
                </td>
                <td>
                    <span class="ctag color-<%= ing.substance.character %>"></span>
                    <%= link_to ing.substance, ing.substance %>
                </td>
                <td>
                    <% if ing.dilution %>
                        <%= solvent_link ing.dilution %>
                    <% else %> 
                        Pure
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
    <tfoot>
        <tr>
            <td class="r"><%= number_with_precision resource.total_mass, precision: 2, strip_insignificant_zeros: false %> <span class="small-unit">mg</span></td>
            <td>Total</td>
            <td><%= number_with_precision resource.raw_price, precision: 2, strip_insignificant_zeros: false %> EUR</td>
        </tr>
    </tfoot>
</table>
