<div class="panel panel-primary <%= resource_class_name %>">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= resource_class.count %> <%= resource_class.model_name.human(count: resource_class.count) %>
            <%= link_to new_blend_path, style: "float:right;" do %>
                <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <%= nav_tabs :blend_tabs do |tabs| %>
            <% tabs.add "List by name", 'list' %>
            <% tabs.add "short by date", 'list_short_by_date' %>
            <% tabs.add "short by tags", 'list_short_by_tags' %>
        <% end %>
    </div>
    <div class="panel-footer">
        <%= link_to new_blend_path, :class => "btn btn-success" do %>
            <span class="glyphicon glyphicon-plus"></span> Add 
        <% end %>
        <%= link_to new_mixing_path, :class => "btn btn-primary" do %>
            <span class="glyphicon glyphicon-random"></span> Mix
        <% end %>
    </div>
</div>
