<table class="table table-striped">
    <thead>
        <tr>
            <th class="r"><%= Blend.human_attribute_name :amount %></th>
            <th><%= Substance.model_name.human %></th>
            <th><%= Dilution.model_name.human %></th>
            <th style="text-align: right;"><%= t :'global.raw_weight' %></th>
        </tr>
    </thead>
    <tbody>
        <% resource.ingredients.each do |ing| %>
            <tr>
                <td class="r">
                    <%= number_with_precision ing.amount, precision: get_precision(ing.amount), strip_insignificant_zeros: false %>
                    <span style="font-size:10px;">mg</span>
                </td>
                <td>
                    <span class="ctag color-<%= ing.substance.character %>"></span>
                    <%= ing.substance %>
                </td>
                <td>
                    <% if ing.dilution %>
                        <%= ing.dilution %>
                    <% else %> 
                        Pure
                    <% end %>
                </td>
                <td style="text-align: right;">
                    <%= number_with_precision ing.amount * ing.concentration, precision: get_precision(ing.amount * ing.concentration) if ing.concentration > 0.0 %> mg
                </td>
            </tr>
        <% end %>
    </tbody>
    <tfoot style="border-top: 2px solid #ccc;">
        <tr>
            <th class="r"><%= number_with_precision resource.total_mass, precision: get_precision(resource.total_mass), strip_insignificant_zeros: true %> <span class="small-unit">mg</span></th>
            <th>Total</th>
            <th><%= number_with_precision resource.raw_price %> EUR</th>
        </tr>
    </tfoot>
</table>
