<div class="panel panel-primary <%= resource_class_name %>">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= link_to edit_resource_path(resource), style: 'float: right;', title: "Edit", :'data-toggle' => "tooltip" do %>
                <span class="glyphicon glyphicon-edit"></span>
            <% end %>
            <%= resource.name %>, <span style="font-size: 11px;"><%= resource.creation_at %></span>
        </h3>
    </div>
    <div class="panel-body">
       <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:sensory_tags), class: 'col-sm-2 small-label' %>
            <div class="col-sm-9">
                <%= resource.sensory_tags %>
            </div>
        </div>
        <hr/>
        <div class="row">
            <%= content_tag :span, resource_class.human_attribute_name(:notes), class: 'col-sm-2 small-label' %>
            <div class="col-sm-9">
                <%= resource.notes %>
            </div>
        </div>
        <hr/>
        <div class="row">
            <%= content_tag :span, Ingredient.model_name.human(count: 2), class: 'col-sm-2 small-label' %>
            <div class="col-sm-9">
                WORK IN PROGRESS
                <% ( [] || resource.composition).each do |key, ing| %>
                    <div class="row">
                        <div class="col-sm-3">
                            <%= ing.amount %>
                        </div>
                        <div class="col-sm-6">
                            <%= key.is_a?(Symbol) ? ing.dilution.solvent_human_name : ing.substance %>
                        </div>
                        <div class="col-sm-3">
                            <%= ing.amount %>
                        </div>
                    </div>
                    <hr style="margin: 1ex 0;"/>
                <% end %>
            </div>
        </div>
     </div>
    <div class="panel-footer">
    </div>
</div>
<p>
    <%= link_to blends_path, :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-th-list"></span> Index
    <% end %>
</p>