<div class="panel panel-primary <%= resource_class_name %>">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= resource_class.count %> <%= resource_class.model_name.human(count: resource_class.count) %>
            <%= link_to new_resource_path, style: "float:right;" do %>
                <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </h3>
    </div>
    <div class="panel-body">
        <div data-resource="of-legend" style="font-size: 16px; clear: both;">
            <div style="background: #666; min-width: 5em; float: left; padding: 0.6ex 1em; border-bottom: 1px solid white;">
                BASE
            </div>
            <div style="background: #aaa; min-width: 9em; float: left; padding: 0.6ex 1em; margin-left: 1px; margin-right:1px; border-bottom: 1px solid white;">
                HEART
            </div>
            <div style="background: #ddd; min-width: 5em; padding: 0.6ex 1em; float:left; border-bottom: 1px solid white;">
                TOP
            </div>
        </div>
        <% collection.each do |of| %>
            <div data-resource="of-<%= of.to_param %>-<%= of.name.underscore %>" style="font-size: 16px; clear: both;">
                <div style="background: #<%= of.color_light %>; min-width: 5em; float: left; padding: 0.6ex 1em; border-bottom: 1px solid white;">
                    &nbsp;
                </div>
                <div style="background: #<%= of.color %>; min-width: 9em; float: left; padding: 0.6ex 1em; margin-left: 1px; margin-right:1px; border-bottom: 1px solid white;">
                    <%= of.name %>
                </div>
                <div style="background: #<%= of.color_dark %>; min-width: 5em; padding: 0.6ex 1em; float:left; border-bottom: 1px solid white;">
                    &nbsp;
                </div>
            </div>
        <% end %>
    </div>
    <div class="panel-footer">
        <% if false # link_to new_resource_path, :class => "btn btn-success" do %>
            <span class="glyphicon glyphicon-plus"></span> <%= t :'global.add' %>
        <% end %>
    </div>
</div>
