<div class="row dilution" data-dilution="<%= dilution.to_param %>">
    <div class="col-sm-3" style="text-align: right;">
        <%= number_with_precision dilution.concentration * 100, precision: 7, strip_insignificant_zeros: true %> %
        <% if resource.is_a?(Substance) %>&nbsp;
            <a class="btn" data-toggle="modal" title="add to blend" data-target="#add-to-blend-modal" onclick="$('#add-to-blend-modal form input.dilution_id').val(<%= dilution.id %>);">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
            <%= link_to new_solvent_path(existing_dilution_id: dilution.id), class: 'btn', title: 'verdünnen' do %>
                <span class="glyphicon glyphicon-share"></span>
            <% end %>
        <% end %>
    </div>
    <div class="col-sm-5">
        ALT: <%= dilution.solvent_human_name %><br/>
        NEU: <%= link_to dilution.solvent, dilution.solvent if dilution.solvent %>
        <button class="btn btn-sm virtual aligner ">&nbsp;</button>
    </div>
    <div class="col-sm-1">
        <%= dilution.intensity %>
        <button class="btn btn-sm virtual aligner ">&nbsp;</button>
    </div>
</div>