
    <div class="dilutions">
        <hr/>
        <div class="form-group">
            <%= f.label :dilution, :class => "col-sm-3 control-label" %>
            <% disable = fd.object.persisted? && fd.object.ingredients.exists? %>
            <div class="col-sm-2 <%= :'has-error' if :concentration.in? fd.object.errors %>">
                <%= fd.text_field :concentration, list: :abc, placeholder: :default, class: "form-control", disabled: disable, autocomplete: "off", precision: 8 %>
                <datalist id="abc">
                    <%= dilutions_as_options(fd.object) %>
                </datalist>
            </div>
            <div class="col-sm-4">
                <%# fd.select :solvent, Dilution::SOLVENTS.collect { |k,v| [ v, k ] }, {prompt: :default}, class: "form-control", disabled: disable  %>
                <%= fd.select :solvent_id, Solvent.basics.map { |sv| [ sv.name, sv.id ] }, {prompt: :default}, class: "form-control", disabled: disable  %>
                <span class="badge" style="margin-bottom:-10px;">alt: <%= fd.object.solvent %></span>
            </div>
            <div class="col-sm-2">
                <%= fd.select :intensity, Dilution::INTENSITIES, {prompt: :default}, class: "form-control", title: t(:'view.hints.intensity'), data: { toggle: "tooltip" } %>
            </div>
            <div class="col-sm-1">
                <% unless disable %>
                    <%= fd.link_to_remove class: "btn" do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
