<div class="comparison" style="font-size: 11px;">
    <% Comparator::DEVIATION.each do |c| %>
        <% if c.last != true %>
            <%= content_tag :span, "Abweichung bis #{ nf c.last.percent!}", class: "color-#{c.first}" %>
        <% else %>
            <%= content_tag :span, "Alles andere", class: "color-#{c.first}" %>
        <% end %>
    <% end %>
</div>
<table class="table table-striped comparison">
    <thead>
        <tr>
            <th></th>
            <% comparator.blends.each do |blend| %>
                <th><%= blend_link blend %></th>
            <% end %>
        </tr>    
    </thead>
    <tbody class="globals">
        <% comparator.globals.each do |key, values| %>
            <tr class="global <%= key %>">
                <td><%= key %></td>
                <% values.each do |value| %><td><%= cnf value %></td><% end %>
            </tr>
        <% end %>
    </tbody>
    <tbody class="ingredients">
        <% comparator.ingredients.each do |substance, components| %>
            <tr class="global substance">
                <td><%= link_to substance, substance, colored(substance, class: "btn btn-default btn-sm") %></td>
                <% components.each do |component| %>
                    <td>
                        <span style="opacity:0.5; font-size:11px;"><%= cnf component.mass.mg! %></span>
                        <br/><%= cnf component.proportion %>
                    </td>
                <% end %>
            </tr>
        <% end %>

        <tr>
            
        </tr>
    </tbody>
    <tfoot>
        <tr>
            
        </tr>
    </tfoot>
</table>