<%= form_tag separating_path, class: 'blends-separator', remote: true do %>
    <div class="">

            <h3>
                <%= t :'global.separate' %> <%= resource.to_s %>
            </h3>
        </div>
                
                <% substance_character.each do |key, ar| %>
                    <div class="panel panel-primary color-<%= key %>">
                        <div class="panel-heading color-<%= key %>">
                            <h3 class="panel-title" style="color:rgba(0,0,0,0.7);"><%= key.upcase %> <span style="font-size:11px; opacity: 0.5;"><%= ar.first %></span></h3>
                        </div>
                        <div class="panel-body buttons-container" style="background:white;">
                            <% resource.substances.each do |substance| %>
                                <% next if substance.character != key %>
                                <%= link_to substance.to_s, "#", colored(substance, class: "btn btn-default btn-sm", :'data-resource-id' => dom_id(substance) ) %>                                
                            <% end %>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                <% end %>
                




                <button type="submit" class="btn btn-primary disabled">
                    <span class="glyphicon glyphicon-random"></span> <%= t :'global.separate' %>
                </button>


    </div>
<% end %>